.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #dff2eb;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.btn{
  width: 20%;
  padding: 1%;
  border-radius: 10px;
  background-image: -webkit-linear-gradient(top, #4ECCA3, #30a57e);
  font-family: 'Indie Flower', cursive;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

.btn:hover{
  background-image: -webkit-linear-gradient(top, #3e8f75, #55b395);
}